body {
    font-family: 'Open Sans', sans-serif;
    line-height:28px;
    margin: 0;
    padding: 0;
}

.right-div {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
}

.right-div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F4F4F4;
}

.right-div ul li {
  float: right;
}

.right-div ul li a {
  display: block;
  color: #018790;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.right-div ul li a:hover {
  background-color: #1ff3f3;
}

.menu-section {
    background-color: #f7f7f7;
    border-bottom:5px solid #00B7B5;
    width:100%
}

.navbar {
    min-height: 90px;
    margin-bottom: 0px;
}

.navbar-brand{
    float :left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.image-box {
    display: inline-block;
    border: 5px solid #005461;
    margin: 20px auto;
    max-width: 100%;
}

.image-box img {
    display: block;
    width: 100%;
    height: auto;
}

.form-header{
  margin-left: 10%;
  padding: 30px 30px;
  font-weight: bold;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.panel {
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color:5px solid #bce8f1;
    margin-left:30%;
    margin-right: 30%;
}



.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
    background-color: white;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}